# Project for Machine Learning and Statistics - December 2021


## Submitted by Sin√©ad Duffy, ID 10016151

***

### Notebook 1

#### Problem Statement - write an overview of the scikit-learn library, and outline (using examples) 3 algorithms of that package

***


### Introduction

Scikit-learn is a library within Python that allows for machine learning scenarios to be completed using regression / classifification as well as clustering.[^1] [^2] The library draws on other packages / libraries such as NumPy, Matplotlib, Pandas etc in to improve functionality.[^3]  
<br>
The scikit-learn library allows developers to use supervised and unsupervised learning algorithms to test data that is loaded using a .csv file (in the case of this noteook).  Within supervised learning 17 distinct areas are outlined, such as linear models, kernel ridge regression, stochastic gradient descent, nearest neighbours and decision tress.[^1]        Unsupervisied learning has 9 distinct areas such as Gaussian mixture models, manifold learning, clustering and biclustering.[^1]
<br><br>
As outlined above, the brief of this notebook is to outline 3 of the algorithms of the scikit-learn library, using examples.  For that reason, the notebook will be segmented into;<br>

1. Introduction
2. Algorithn 1 
3. Algorithn 2 
4. Algorithm 3
5. Conclusion
6. References

<br>
The refrences used throughout the notebook are outlined in section 5. Throughout the notebook footnotes are used to indicate where the specific refrences are used.
<br><br>
The notebook also contains a number of cells containing code. Each of these are outlined in subsequent sections.
<br>
<br>
The choosen algorithms for this package are;
<br><br>

### Introduction to Machine Learning with scikit-learn

https://scikit-learn.org/stable/tutorial/basic/tutorial.html

In [1]:
# importing libraries

import csv
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

In [3]:
#importing a csv file
df= pd.read_csv('Datasets\heart.csv')

#print the summary data of the datafile (refernece 3)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       303 non-null    int64
 1   Sex       303 non-null    int64
 2   CP        303 non-null    int64
 3   Trestbps  303 non-null    int64
 4   Chol      303 non-null    int64
 5   FBS       303 non-null    int64
 6   RestECG   303 non-null    int64
 7   Thalach   303 non-null    int64
 8   Exang     303 non-null    int64
 9   OldPeak   303 non-null    float64
 10  Slope     303 non-null    int64
 11  CA        303 non-null    object
 12  Thal      303 non-null    object
 13  Num       303 non-null    int64
dtypes: float64(1), int64(11), object(2)
memory usage: 33.3+ KB
None

In [5]:
df.describe()

,Age,Sex,CP,Trestbps,Chol,FBS,RestECG,Thalach,Exang,OldPeak,Slope,Num
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.937294
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,1.228536
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,4.000000

### References:

1.  Scikit-learn.org https://scikit-learn.org/stable/tutorial/index.html
2.  Wikipedia.com / scikit-learn - https://en.wikipedia.org/wiki/Scikit-learn
3.  MachineLearningMastery.com / Introductuin to scikit-learn - https://machinelearningmastery.com/a-gentle-introduction-to-scikit-learn-a-python-machine-learning-library/
4.  UCI Machine Learning Repository - https://archive.ics.uci.edu/ml/datasets/Heart+Disease



## End